{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
     <div class="profile_img">
  	<p><img src="{% static 'image/profile_image.jpg' %}"></img></p>
     </div>
     <div class="profile_content">
	<h2>안태현</h2>
	<h5>&nbsp; 프로그래머<h5>
	<p>
	    <table>
		<tr>
		    <td class="table_left"> 생년월일</td>
		    <td>1987년 11월 21일</td>
		</tr>
		<tr>
 		    <td class="table_left">거주지</td>
                    <td>대한민국, 서울/오송</td>
		</tr>
		<tr>
 		    <td class="table_left">소속회사</td>
                    <td>대우정보시스템</td>
		</tr>
		<tr>
	    	    <td class="table_left">취미</td>
                    <td>복싱, 축구, 농구, 사진, 사격</td>
		</tr>
	    </table>
	</p>
    </div>
    <div class="profile_career">
	<h3>학력사항</h3>
	    <p>
		<table class="schools" >
		    <tr>
		        <td class="table_left">- 경기고등학교</td>
		    </tr>
		    <tr>
		        <td class="table_left">- 숭실대학교 정보통신전자공학</td>
		    </tr>
	        </table>
            </p>
	<h3>경력</h3>
	     <p>
		<table class="careers">
		    <tr>
		        <td class="table_left">
				- 대우정보시스템 사원 (2015.01 ~ )
				<p class="complementary">
				   <span class="glyphicon glyphicon-folder-open"></span> &nbsp;  국립대 자원관리시스템 구축&nbsp;(2015.06~2017.04) <br/>
				   &nbsp; - 재정회계 공통 api 및 팝업 제공, 세입세출외현금 업무 개발
				</p>
			</td>
		    </tr>
		    <tr>
		        <td class="table_left">
				- 대우정보시스템 인턴 (2014.09 ~ 2014.12)
				<p class="complementary">
				   <span class="glyphicon glyphicon-folder-open"></span> &nbsp; 빌포스트 wpms 구축&nbsp;(2014.10~2014.12) <br/>
				   &nbsp; - Spring Framework Batch File To DB/DB To File 개발
				</p>

			</td>
		    </tr>
	        </table>
            </p>
	
    </div>
{% endblock %}
